<header class="main-header"   >

    <script language="JavaScript">
        //$(document).on("contextmenu",function(e){return false;});
    </script> 


<!-- Left Menu Side -->
<script type="text/javascript" src="/js/common/menuUserCheck.js"></script>

    <input type="hidden" id="signMassage" value="<%= __('SIGN_IN_REQUIRED') %>" />
    <input type="hidden" id="timeoutLogOut" value="<%= __('ALERT_LOGOUT') %>" />
    <!-- Logo -->
    <!--<a href="/list" class="logo">-->
    <a href="#" onClick="goMainList();" class="logo">
        <span class="logo-mini"></span>
        <span class="logo-lg"></span>
    </a>
    

    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"><span class="sr-only">Toggle navigation</span> </a>

        <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
        <li style="width:100px; padding-right: 10px;">
            <select class="" id="selectLang" name="selectLang" style="width:90%; height: 25px; margin: 5px 10px 0 0; font-size: 1em; font-weight: bold;">
                    <%
                        if(languageNow == 'ko') {
                    %>
                        <option value="ko" selected="selected"><%= __('KOREAN') %></option>
                        <option value="en"><%= __('ENGLISH') %></option>
                    <%
                        } else {
                    %>
                        <option value="ko"><%= __('KOREAN') %></option>
                        <option value="en" selected="selected"><%= __('ENGLISH') %></option>
                    <%
                        }
                    %>
            </select>
        </li>
        <% 
            if(sid) { 
        %>
            <li class="user_id"> <strong><%=sid%></strong> <%= __('SIR') %></li>
            <%
                if(sAuth>=99) {
            %>
            <li class="btn_set01"> <a href="/users/userMng" class="left_set"></a></li>
            <%
                }
            %>
            <li><a  href="/users/logout" class="btn_log_out" style="margin-left: 5px;"> <%= __('SIGN_OUT') %></a></li>
        
        <%                  
            }
        <!-- 비로그인 접근 시 로그인 화면으로 이동-->
            else
            {
        %>
                <script>
                    alert($('#signMassage').val());
                    location.href = '/';
                </script>
        <%
            }
        %>
        </ul>
        </div>
    </nav>
</header>
<div class="modal fade" id="loadingModalMain" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin:0;">Loading...</h3>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active" style="margin-bottom:0;">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
            </div>
            <div class="modal-footer">
                <strong>TIIZ</strong> ChatBot Manager
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="noPermissionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">TIIZ Manager</h4>
            </div>
            <div class="modal-body">
                <%= __('NOACCESSAUTH') %>
            </div>
            <div class="modal-footer" id="delete_footer_button">
                <button type="button" class="btn btn-primary" id="noPermission" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#selectLang').change(function() {
            location.href="/index/lang"
        });
    });

    function goMainList(){
        $('#loadingModalMain').modal('show');
        location.href = "/list";
    }



    var spcKey = false;
    var hover = true;
    var contextMenu = false;

    //out start
    var timoutNow = 60000*10;//3600000; // Timeout in 10 mins would be 600000. 60 mins - 3600000
    var logoutUrl = '/users/logout'; // URL to logout page.
    
    var timeoutTimer;

    // Start timers.
    function StartTimers() {
        timeoutTimer = setTimeout("IdleTimeout()", timoutNow);
    }

    // Reset timers.
    function ResetTimers() {
        clearTimeout(timeoutTimer);
        StartTimers();
    }
    
    // Logout the user.
    function IdleTimeout() {
        alert($('#timeoutLogOut').val());
        window.location = logoutUrl;
    }
    //out end ALERT_LOGOUT timeoutLogOut

    window.onload = function () {
        StartTimers();
        document.body.onclick = function (e) {
            ResetTimers();
        };
    };
    


    function spc(e) {
        return ((e.altKey || e.ctrlKey || e.keyCode == 91 || e.keyCode == 87) && e.keyCode != 82 && e.keyCode != 116);
    }

    $(document).hover(function () {
        hover = true;
        contextMenu = false;
        spcKey = false;
    }, function () {
        hover = false;
    }).keydown(function (e) {
        if (spc(e) == false) {
            hover = true;
            spcKey = false;
        }
        else {
            spcKey = true;
        }
    }).keyup(function (e) {
        if (spc(e)) {
            spcKey = false;
        }
    }).contextmenu(function (e) {
        contextMenu = true;
    }).click(function () {
        hover = true;
        contextMenu = false;
    });

    window.addEventListener('focus', function () {
        spcKey = false;
    });
    window.addEventListener('blur', function () {
        hover = false;
    });


    //뒤로가기 제어
    history.pushState(null, null, location.href);
    window.onpopstate = function (event) {
        contextMenu = true;
        history.back();
    };

    //백스페이스 제어
    $(document).keydown(function (e) {
        if (e.target.nodeName != "INPUT" && e.target.nodeName != "TEXTAREA") {
            if (e.keyCode === 8) {
                contextMenu = true;
            }
        }
    });

    window.onbeforeunload = function (e) {
        if ((hover == false || spcKey == true) && contextMenu == false) {
            location.href('/users/logout');
            //$('.btn_log_out').trigger('click');
            //console.log('a00');
        }
        return;
    };




</script>