<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/common/css/bootstrap.min.css">
    <link rel="stylesheet" href="/common/css/font-awesome.min.css">
    <link rel="stylesheet" href="/common/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/common/css/skin-blue.min.css">
    <link rel="stylesheet" href="/common/css/default.css">
    <!--[if lt IE 9]>
    <script src="common/js/html5shiv.min.js"></script>
    <script src="common/js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/common/js/jquery.min.js"></script>
    <script src="/common/js/bootstrap.min.js"></script>
    <script src="/common/js/adminlte.min.js"></script>
    <script src="/common/js/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/common/js/icheck.min.js"></script>
</head>
    

<body class="hold-transition login-page">
    <input type="hidden" value="<%= __('ALERT_WRONG_ACCESS') %>" id="signMassage"/>
    <div class="login-box">
        <div class="login-logo"><span class="hc">로그인로고</span></div>
        <div class="login-box-body">
            <form onsubmit="return false;" method="post" id="changePwForm">
                <div class="form-group has-feedback">
                    <span class="fa fa-user form-control-feedback"></span>
                    <%
                    if(changeId) {
                    %>
                    <input type="text" class="form-control" id="changeIdInput" value="<%=changeId%>" spellcheck="false" disabled>
                    <input type="hidden" class="form-control" id="changeId" name="changeId" value="<%=changeId%>" spellcheck="false">
                    <%
                    }
                    <!-- 비정상 접근 시 로그인 화면으로 이동-->
                    else
                    {
                    %>
                    <script>
                        alert($('#signMassage').val());
                        location.href = '/';
                    </script>
                    <%
                    }
                    %>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" id="originalPw" name="originalPw" placeholder="기존 비밀번호 입력" >
                    <span class="fa fa-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" id="changePw1" name="changePw1" placeholder="비밀번호" onkeyup="passWordKeyUp(this.value, '1');">
                    <span class="fa fa-lock form-control-feedback"></span>
                    <p style="color:red" id="alertPwChk1"></p>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" id="changePw2" name="changePw2" placeholder="비밀번호확인" onkeyup="passWordKeyUp(this.value, '2');">
                    <span class="fa fa-lock form-control-feedback"></span>
                    <p style="color:red" id="alertPwChk2"></p>
                </div>

            </form>
            <div class="social-auth-links text-center"><button class="btn btn_login" id="sendChngBtn" disabled>비밀번호 변경</button></div>

            <div class="social-auth-links text-right"><a href="#" onclick="return false;" id="goToLogin">로그인 페이지</a></div>

        </div>
    </div>

        <script>

            document.addEventListener('keydown', function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                }
            }, true);

            $(document).ready(function(){
                //오른쪽 클릭 방지
                $(document).bind("contextmenu", function(e) {
                return false;
                });
                //f12 방지
                $(document).bind('keydown',function(e){
                    if ( e.keyCode == 123 /* F12 */) {
                        e.preventDefault();
                        e.returnValue = false;
                    }
                });
            });
            //드래그방지 주석
            //$(document).bind('selectstart',function() {return false;}); 
            //$(document).bind('dragstart',function(){return false;}); 
            
            
            $(document).ready(function () {
                if ($('#changeId').val().trim() == 'NONE' ) {
                    $('#changeId').prev().prop('disabled', false);
                    $('#changeId').val('');
                    $('#changeId').prev().val('');
                } else {
                    alert('비밀번호를 변경해주세요.');
                }

                $('#sendChngBtn').click(function () {
                    submitInfo();
                    //$('#changePwForm').submit();
                });

                $('#changeIdInput').keyup(function (e) {
                    $('#changeId').val($('#changeIdInput').val().trim());
                });

                
                $('#goToLogin').click(function () {
                    location.href="/";
                });
            });
            
            function passWordKeyUp(value, idx) {
                if (fn_passWordChk(value, idx)) {

                    if (idx == "1") {
                        if ($('#changePw2').val() != "") {
                            if ($('#changePw1').val() != $('#changePw2').val()) {
                                $('#alertPwChk1').text('비밀 번호 확인 값과 일치해야 합니다.');
                                $('#sendChngBtn').prop('disabled', true);
                            }
                            else {
                                //변경 버튼 활성화
                                if ($('#changePw1').val()  == $('#changePw2').val()) {
                                    $('#alertPwChk2').text('');
                                }
                                $('#alertPwChk1').text('');
                                $('#sendChngBtn').prop('disabled', false);
                            }
                        }
                    }
                    else
                    {
                        if ($('#changePw1').val() != "") {
                            if ($('#changePw2').val() != $('#changePw1').val()) {
                                $('#alertPwChk2').text('비밀 번호 값과 일치해야 합니다.');
                                $('#sendChngBtn').prop('disabled', true);
                            }
                            else {
                                //변경 버튼 활성화
                                if ($('#changePw1').val()  == $('#changePw2').val()) {
                                    $('#alertPwChk1').text('');
                                }
                                $('#alertPwChk2').text('');
                                $('#sendChngBtn').prop('disabled', false);
                            }
                        }
                    }
                } else {
                    $('#alertPwChk' + idx).text('비밀번호는 영문, 숫자, 특수문자를 혼합하여 입력해주세요.');
                }
            }
            
            function fn_passWordChk(inputPW, idx) {
                var pw = inputPW;
                
                if (typeof pw != "undefined") {
                    var sumChk = 0;
                    var num = pw.search(/[0-9]/g);
                    var engSmall = pw.search(/[a-z]/ig);
                    var engBig = pw.search(/[A-Z]/ig);
                    var spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);

                    if (num>0) {
                        sumChk++;
                    }
                    if (engSmall>=0 || engBig >=0) {
                        sumChk++;
                    }
                    /*
                    if (engBig > 0) {
                        sumChk++;
                    }
                    */
                    if (spe>=0) {
                        sumChk++;
                    }

                    if (pw.length < 8 || pw.length >= 20) {
                        $('#alertPwChk' + idx).text('비밀번호는 8자 이상 20자 이하로 입력해 주세요 입력해주세요.');
                        return false;
                    }

                    if (sumChk < 3) {
                        $('#alertPwChk' + idx).text('비밀번호는 영문, 숫자, 특수문자중 3가지 이상 혼합하여 입력해주세요.');
                        return false;
                    }
                    $('#alertPwChk' + idx).text('');
                    return true;
                }
            }

            function submitInfo() {
                if ($('#changeIdInput').val() =='' || $('#changeId').val() =='') {
                    alert("아이디를 입력해야합니다.");
                    return false;
                }
                if ($('#originalPw').val().trim().length == 0) {
                    alert("기존 비밀번호를 입력해야합니다.");
                    return false;
                }
                var params = {
                    'changeId' : $('#changeId').val().trim(),
                    'originalPw' : $('#originalPw').val().trim(),
                    'changePw1' : $('#changePw1').val().trim()
                };

                $.ajax({
                    type: 'POST',
                    data: params,
                    url: '/users/changePW',
                    success: function(data) {
                        if (!data.result) {
                            alert(data.message);
                            //location.href="/";
                        }
                        else 
                        {
                            alert(data.message);
                            location.href="/";
                        }
                    }
                });
            }

            function validateInfo () {
                var userId = $('#changeId').val();
                var changePw = $('#changePw1').val();

                var pwMinLength = 4;
                var pwLength = changePw.length;
                var loopLength = pwMinLength>pwLength ? pwMinLength : pwLength-pwMinLength;    
                for (var i=0; i<=loopLength; i++ ) {

                    var subPw = changePw.substring(i, pwMinLength);
                    if (userId.indexof(subPw) != -1) {
                        alert("");
                        return false;
                    }
                }
            }
        </script>

</body>
</html>

