<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <%include  ./common/commonLib.html%>
        
        <script type="text/javascript" src="/js/common/smallTalkMng.js"></script>
        <link rel='stylesheet' href='/css/botchat.css' />
        <link rel="stylesheet" type="text/css" href="/css/dialog.css" />
        <style type="text/css">
            .dlgCardMordal a:link, .dlgCardMordal a:visited, .dlgCardMordal a:hover, .dlgCardMordal a:active, .dlgCardMordal a:focus { 
                font-weight: bold !important;
                color: #6d6161 !important;
            } 
    
            .dropdown-menu {
                left: 0px !important; top: 60% !important;
            }
    
        </style>

</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <!-- Header -->
        <%include  ./header.html%>
            <!-- //Header -->

            <!-- Left Menu Side -->
            <%include  ./leftSideBar.html%>
                <!--// Left Menu Side -->


                <!-- Content Wrapper -->
                <div class="content-wrapper">
                    <section class="content-header">
                        <h1><%= __('SmallTalk_Title') %></h1>
                    </section>

                    <!-- Main content -->
                    <section class="content">
                            <input type="hidden" name='currentPage' id="currentPage" value="1" />
                        <div class="box  color-palette-box">
                                <div class="box-body">
                                      <div class="modal-body search_op">
                                          <input type="hidden" id="sourceType2" name="sourceType" value="D">
                                            <div class="form-group col-lg-4"  style=" padding-left:0px !important" >
                                                <input type="text" name="searchIntent" id="searchIntent" class="form-control" placeholder="<%= __('Enter_Connection_intent') %>">
                                            </div> 
                                            <div class="form-group col-lg-4"  style=" padding-left:0px !important" >
                                                <input type="text" name="searchQuestion" id="searchQuestion" class="form-control" placeholder="<%= __('Please_enter_a_question') %>">
                                            </div>     
                                                        
                                            <div class="form-group col-lg-4 fr"  style=" margin-top:20px;text-align:right; padding-right:0px;">
                                                <button type="button" id="searchDlgBtn" class="btn btn_01 "><i class="fa fa-search"></i> <%= __('SEARCH') %></button> 
                                                <button type="button" id="createSmallTalkBtn" class="btn btn-default "><i class="fa fa-plus"></i> SmallTalk 등록</button> 
                                                <button type="button" class="btn btn-default" id="cancelSmallTalkBtnModal"><i class="fa fa-trash"></i> SmallTalk 삭제</button>
                                            </div>
                                         </div>
                                         
    
                                        <!-- 학습 추천 테이블 --> 
                                        <div class="Tbl_wrap">
                                            <table class="Tbl" summary="small talk 관리">
                                                <colgroup><col width="5%"/><col width="5%"/><col width="15%"/><col width="30%"><col width="45%"></colgroup>
                                                      <tr>
                                                          <th><%= __('NUM') %></th>
                                                          <th>&nbsp;</th>
                                                          <th><%= __('INTENT') %></th>
                                                          <th><%= __('DLG_QUESTION') %></th>
                                                          <th><%= __('REPLY') %></th>
                                                      </tr>
                                                    <tbody id="smallTalktbody">
                                                        
                                                    </tbody>
                                            </table>
                                        </div> 
                                        <!-- 페이징 --> 
                                        <div class="pagination_wrap" id="smallTalkTablePaging">
                                                <ul class="pagination pagination-sm no-margin">
    
                                                </ul>
                                            </div>
                                </div>
                        </div>
                </section>
                    <!-- //Main content -->

                </div>
                <!--// Content Wrapper -->


                <!--  Footer -->
                <%include  ./footer.html%>
                    <!-- // Footer -->
                    <script>
                        //iCheck for checkbox and radio inputs
                        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                            checkboxClass: 'icheckbox_minimal-blue',
                            radioClass: 'iradio_minimal-blue'
                        })
                        //Red color scheme for iCheck
                        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                            checkboxClass: 'icheckbox_minimal-red',
                            radioClass: 'iradio_minimal-red'
                        })
                        //Flat red color scheme for iCheck
                        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                            checkboxClass: 'icheckbox_flat-green',
                            radioClass: 'iradio_flat-green'
                        })

                    </script>
<div class="modal fade" id="smallTalkMngModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><%= __('SmallTalk_Title') %></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="smallTalkForm" id="smallTalkForm">
                    <input type="hidden" name="s_answer" id="s_answer">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label"><i class="fa fa-asterisk"></i> Question</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="s_query" name="s_query" placeholder="<%= __('Please_enter_a_sentence') %>" spellcheck="false"
                            autocomplete='off'>
                            <p id="" style="margin-top:10px">asdfasfasfsdafdas</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label"><i class="fa fa-asterisk"></i> Answer</label>
                        <div class="col-sm-10">
                            <div class="control-group after-add-more form-inline">
                                <input type="text" class="form-control" id="s_answer_array" name="s_answer_array" style="width:88%" placeholder="<%= __('Please_enter_a_sentence') %>">
                                <button type="button" class="btn btn_01 add-more" ><i class="fa fa-plus"></i> <%= __('ADD') %></button>
                            </div>
                        </div>
                    </div>
                    
                </form>
                <div class="copy hide">
                    <div class="control-group form-inline" style="margin-top:10px">
                        <input type="text" class="form-control" id="s_answer_array" name="s_answer_array" style="width:88%" placeholder="<%= __('Please_enter_a_sentence') %>">
                        <button type="button" class="btn btn_danger answer-remove"><i class="fa fa-minus"></i> <%= __('DELETE') %></button>
                    </div>
                </div>
            <div class="modal-footer" id="footer_button">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    <button type="button" class="btn btn_01" id="addSmallTalk"><i class="fa fa-edit"></i> Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cancelSmallTalkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><%= __('SmallTalk_Title') %></h4>
            </div>
            <div class="modal-body">
                <p id="cancel_content"></p>
            </div>
            <div class="modal-footer" id="delete_footer_button">
                <p id="footer_button"></p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="procSmallTalk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"><%= __("SmallTalk_Title") %></h4>
                </div>
                <div class="modal-body"><p id="proc_content"></p></div>
                <div class="modal-footer" id="footer_button">
                    
                </div>
            </div>
        </div>
    </div>

</body>

</html>